* {
    max-width: 100%;
}

body {
    background-image: url(./img/burger-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.burgerBtn {
    display: flex;
    align-items: center;
}